## This is an example .env file for the VitaCare API. 
## Copy this file to .env and fill in the appropriate values for your database and application configuration.

## DB configuration ##
DB_NAME=database_name
DB_USER=database_user
DB_PASS=database_password
DB_HOST=database_host
DB_PORT=database_port
PORT=application_port